/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}
html,body{
  height:100%;
  margin:0;
   padding:0;
}
body {
  font-family: Lato, sans-serif;
  color: white;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/portfolio6.jpg);
  background-size: cover;
  z-index: -1;
} */
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.541);
  display:inline-flex;
}
nav ul {
  margin: auto;
  padding: 20px 0px 20px 660px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
a {
  color: white;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  text-shadow: 2px 2px rgba(70, 69, 69, 0.658);
}
a:hover {
  color: salmon;
  text-decoration: underline;
}
img {
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
h1 {
  text-align: start;
  font-size: 1em;
  margin-left:100px;
}
h5 {
  margin:auto;
  padding-top:220px;
  text-align: center;
}

/* Typed Js */
h2 {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  font-weight: 100px;
  
}
/* TYPED JAVA SCRIPT */
.typed {
  border-bottom: 1.5px solid #ffffff;
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.container {
  display: flexbox;
  width: 100%;

}
section {
  margin-top:330px;
  width:100%;
  background:rgba(255, 254, 254, 0.37);
  padding:10px 30px 10px 30px;

}
.box {
  display: table-cell;
  padding: 16px;
  color: black;
  width: 30%;
  /* padding-top:320px; */
}
.card {
  display: table-cell;
  padding: 16px;
  color: white;
  width: 30%;
}
#footer {
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
  padding:20px 0px 20px 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.541);
}
h3,h4{
  text-align:center;
}

#footer ul li {
  text-align: center;
  display:inline-block;
}
#animation {
  height:100%;
  width:100%;
  padding:10px 10px 10px 10px;
  background:black;
  justify-content: center;
  text-align: center;
  
}
#animation:hover {
  height:100%;
  width:100%;
  padding:10px;
  background:white;
  color:black;
  animation: animation-1 1s;
  justify-content: center;
  text-align: center;
 
}
@keyframes animation-1{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


/* SKILL BAR */
.skill-bar{
   text-align: left;
   padding: 5px;
   font-size: 12px;
  }
.skill{
   color: #fff;
   font-size: 12px;
   text-align: center;
   border-radius: 10px;
   
  }

.html{
  width:90%;background-color:black;
}
.css{
  width: 70%;background-color: #1E80FA
}
.js{
  width: 10%;background-color: #DBE223
}
.php{
  width: 20%;background-color: #E93232
}
.mysql{
  width: 20%;background-color: green;
}

/* FORM  */
.form {
  display: block;
}
label {
  padding:10px;
}
input{
  border-radius: 20px;
  height:35px;
  width:500px;
  border:0px;
}

#input2{
  border-radius: 20px;
  height:90px;
  width:500px;
  border:0px;
}
#name{
  margin:10px;
}
button{
  height:30px;
  width:100px;
  padding:5px;
  border-radius: 25px;
  margin:10px;
  background:chocolate;
  border:0px;
}
placeholder {
  text-align: center;
}
img .end {
  width:20%;

}
/* #login{
  height:30px;
  width:50px;
  padding:5px;
  border-radius: 25px;
  background:blue;
  border:0px;
} */
@media only screen and (max-width: 600px) {
  .box {
    display: block;
    width: 100%;
    margin-top:100px;
  }
  img {
    z-index: -1;
  }
  #navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.541);
  display:inline-flex;
}
nav ul {
  margin: auto;
  padding: 20px 0px 20px 10px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
a {
  color: white;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
  text-shadow: 2px 2px rgba(70, 69, 69, 0.658);
}
h1 {
  text-align: start;
  font-size: 12px;
  margin-left:15px;
}
h2 {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100px;
  
}
/* TYPED JAVA SCRIPT */
.typed {
  border-bottom: 2px solid #ffffff;
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
 
}

 
}
